# Resumo de dados

![alt text](https://joaomrcarvalho.github.io/images/multi-doc-summary-800x638.png)

In [ ]:
import pandas as pd
import numpy as np

## A função GroupBy

In [ ]:
data = pd.read_csv('https://joaomrcarvalho.github.io/datasets/dm/phone_data.csv', index_col='index')

print(data.head(10))
print('-----------------------------------------------------------------------------------------')

print(data.info())

In [ ]:
import dateutil

data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)
print(data.head())

In [ ]:
group = data.groupby(['month'])

print(group)

In [ ]:
print(group.groups.keys())

In [ ]:
print(group.groups['2014-11'])

print('------------------------------------------------')

print(len(group.groups['2014-11']))

In [ ]:
print(group.max())

print('------------------------------------------------')

print(group.max()['duration'])

In [ ]:
print(group.first())

In [ ]:
print(group.sum())

In [ ]:
group = data.groupby('month').agg({'duration':'sum', 'item':'first', 'network':'last'})

print(group)
print('----------------------------------------------------------------------------')

group = data.groupby('month', as_index=False).agg({'duration':'sum', 'item':'first', 'network':'last'})
print(group)

In [ ]:
group = data.groupby('month').agg({"duration":['max','mean','sum'] ,"item":'first','network':'last'})

print(group)

In [ ]:
group = data.groupby(['month','item']).agg({'duration':'sum','network_type':'count','date':['last','nunique']})
print(group)

In [ ]:
group = data.groupby('month', as_index=False).agg({"duration":['max','mean','sum'] ,"item":'first','network':'last'})
print(group)

In [ ]:
group.columns = group.columns.droplevel(level=0)

print(group)

print('----------------------------------------------------------------------------------------------')

group.rename(columns={ 'max':'max_duration','mean':'mean_duration','sum':'sum_duration'}, inplace=True)
print(group)

In [ ]:
group = data.groupby('month', as_index=False).agg({'duration':['max','mean','sum'] ,'item':['first','last'],'network':'last'})

print(group)
print('--------------------------------------------------------------------------------------------------')

print(group.columns.ravel())

print('--------------------------------------------------------------------------------------------------')

group.columns = ["_".join(x) for x in group.columns.ravel()]
print(group)

**Sugestão de exercício:** Gerar um novo DataFrame a partir do conjunto de dados adults, agrupado por idade e aplicar-lhe as operações sum, min e max em três colunas distintas. No final, organizar os dados de forma intuitiva.

## Combinar Múltiplos DataFrames

In [ ]:
data = pd.read_csv('https://joaomrcarvalho.github.io/datasets/dm/iris.data',names=['x1','x2','x3','x4','especie'])
print(data.head())

### Concatenar DataFrames

In [ ]:
first_10 = data.head(10)
print(first_10)

print('--------------------------------------------------------')

last_10 = data.tail(10)
print(last_10)

print('--------------------------------------------------------')

last_10 = last_10.reset_index(drop=True) 
print(last_10)

In [ ]:
concat_vertical = pd.concat([first_10,last_10], axis=0)
print(concat_vertical)

print('-----------------------------------------------------------------------------')

concat_horizontal = pd.concat([first_10,last_10], axis=1)
print(concat_horizontal)

In [ ]:
print(list(concat_vertical.index))

print('--------------------------------------------------------------------')

concat_vertical = pd.concat([first_10,last_10],axis=0,ignore_index=True)
print(list(concat_vertical.index))

**Sugestão de exercício:** Renomear as colunas do dataframe last_10, eliminar a coluna relativa à espécie e concatenar com o dataframe first_10.

### A função  pd.merge

In [ ]:
df_1 = pd.DataFrame({'index_1':[1,2,3,4,6,7,9,10],
                     'nomes':['joão','alexandre','andré','ana','bernardo','cláudia','rodrigo','maria'],
                     'altura':[1.6,1.8,1.7,1.75,1.88,2.1,1.87,1.65]})

df_2 = pd.DataFrame({'index_2':[1,2,3,4,5,6,7,8],
                     'peso':[84,102,63,79,90,110,87,59]})

In [ ]:
merged_inner = pd.merge(left=df_1,right=df_2, left_on='index_1', right_on='index_2',how='inner')

print(merged_inner)

In [ ]:
merged_outer = pd.merge(left=df_1,right=df_2, left_on='index_1', right_on='index_2',how='outer')

print(merged_outer)

In [ ]:
merged_left = pd.merge(left=df_1,right=df_2, left_on='index_1', right_on='index_2',how='left')

print(merged_left)

print("----------------------------------------------------------------------------------------------------")

merged_right = pd.merge(left=df_1,right=df_2, left_on='index_1', right_on='index_2',how='right')

print(merged_right)

## A tabela Pivot

In [ ]:
# !pip install xlrd

data = pd.read_excel('https://joaomrcarvalho.github.io/datasets/dm/sales-funnel.xlsx')
print(data.head())

In [ ]:
pvt_table = pd.pivot_table(data, index=['Name'])

print(pvt_table)

In [ ]:
pvt_table = pd.pivot_table(data,index=['Name'],values=['Price'])

print(pvt_table.head())

In [ ]:
pvt_table = pd.pivot_table(data,index=['Rep','Name'])

print(pvt_table)

print('----------------------------------------------------------------------------------------------------------')

pvt_table = pd.pivot_table(data,index=['Name','Rep'])

print(pvt_table)

In [ ]:
pvt_table = pd.pivot_table(data,index=["Rep","Name","Product"],values=["Price","Quantity"])
print(pvt_table)

In [ ]:
rep = pvt_table.loc['Cedric Moss']

print(rep)

**Sugestão de exercício:** Salvar as subtabelas em arquivos independentes no formato excel.

In [ ]:
pvt_table = pd.pivot_table(data,index=["Manager","Rep"],values=["Price"],aggfunc=['sum'])

print(pvt_table)

print('-----------------------------------------------------------------------------------------------------')

pvt_table = pd.pivot_table(data,index=["Manager","Rep"],values=["Price"],aggfunc=['sum','mean'])

print(pvt_table)

In [ ]:
pvt_table = pd.pivot_table(data,index=["Manager","Rep"],values=["Price"],aggfunc=['sum'],columns=['Product'])

print(pvt_table)

In [ ]:
pvt_table = pd.pivot_table(data,index=["Manager","Rep"],values=["Price"],aggfunc=['sum'],columns=['Product'],
                          fill_value=0)

print(pvt_table)

In [ ]:
pvt_table = pd.pivot_table(data,index=["Manager","Rep"],values=["Price"],aggfunc=['sum','mean'],columns=['Product'],
                          fill_value=0)

pvt_table

In [ ]:
pvt_table = pd.pivot_table(data,index=["Manager","Rep","Product"],values=["Price"],aggfunc=['sum','mean'],
                          fill_value=0)
pvt_table

## O padrão split-apply-combine

In [ ]:
fic_data = pd.DataFrame({'size':['GG','G','M','P','GG','G','M','P','GG','G','M','P','GG','G','M','P','M','P'],
            'sale':[1000,1500,800,900,2000,1450,1200,3000,2500,2000,1600,900,901,1500,1420,1300,4000,3500],
            'transaction':[50,75,410,460,115,60,35,125,125,55,65,430,490,150,85,115,140,80],
             'type':['D','D','D','D','D','D','D','D','D','B','B','B','B','B','B','B','B','B']})

print(fic_data.head())

### Split

In [ ]:
gp_data = fic_data.groupby('size')

gp_data.get_group('G')

In [ ]:
for key,value in gp_data:
    print('Grupo',key)
    print(value)
    print('-------------------')

In [ ]:
sub_gp_data = gp_data.get_group('G').groupby('type')

sub_gp_data.mean()

### Apply

In [ ]:
gp_data = fic_data.groupby(['type','size'], as_index=True).agg({'sale':['sum','mean']})


print(gp_data)

print('--------------------------------------------------------')

gp_data = fic_data.groupby(['type','size'], as_index=False).agg({'sale':['sum','mean']})

print(gp_data)

In [ ]:
f = lambda x: 'high' if x > 3000 else 'low'


gp_data = fic_data.groupby(['type','size'], as_index=False).agg({'sale':['sum','mean']})
print(gp_data)

print("-----------------------------------------")

gp_data['level'] = gp_data['sale']['sum'].apply(f)
print(gp_data)

In [ ]:
gp_data.columns = ["_".join(x) for x in gp_data.columns.ravel()]

print(gp_data)

print('------------------------------------------------------------------')

lv_gp_data = gp_data.groupby('level_')

print(lv_gp_data.get_group('low'))

In [ ]:
fic_data = pd.DataFrame({'size':['GG','G','M','P','GG','G','M','P','GG','G','M','P','GG','G','M','P','M','P'],
            'sale':[1000,1500,800,900,2000,1450,1200,3000,2500,2000,1600,900,901,1500,1420,1300,4000,3500],
            'transaction':[50,75,410,460,115,60,35,125,125,55,65,430,490,150,85,115,140,80],
             'type':['D','D','D','D','D','D','D','D','D','B','B','B','B','B','B','B','B','B']})


print(fic_data.head(5))

print('--------------------------------------------------------------------')

print(fic_data.groupby('type', as_index=True).std())

print('--------------------------------------------------------------------')

fic_data['sale_std'] = fic_data.groupby('type', as_index=True)['sale'].transform('std')

print(fic_data)

In [ ]:
fic_data = pd.DataFrame({'size':['GG','G','M','P','GG','G','M','P','GG','G','M','P','GG','G','M','P','M','P'],
            'sale':[1000,1500,800,900,2000,1450,1200,3000,2500,2000,1600,900,901,1500,1420,1300,4000,3500],
            'transaction':[50,75,410,460,115,60,35,125,125,55,65,430,490,150,85,115,140,80],
             'type':['D','D','D','D','D','D','D','D','D','B','B','B','B','B','B','B','B','B']})

transformacoes = ['std','sum','mean','count']

for trans in transformacoes:
    fic_data['sale_{}'.format(trans)] = fic_data.groupby(['type','size'], as_index=True)['sale'].transform(trans)
    
print(fic_data)

In [ ]:
fic_data['sale_stdartized'] = ((fic_data['sale'] - fic_data['sale_mean'])/fic_data['sale_std'])

print(fic_data)

In [ ]:
fic_data = pd.DataFrame({'size':['GG','G','M','P','GG','G','M','P','GG','G','M','P','GG','G','M','P','M','P'],
            'sale':[1000,1500,800,900,2000,1450,1200,3000,2500,2000,1600,900,901,1500,1420,1300,4000,3500],
            'transaction':[50,75,410,460,115,60,35,125,125,55,65,430,490,150,85,115,140,80],
             'type':['D','D','D','D','D','D','D','D','D','B','B','B','B','B','B','B','B','B']})


group_data = fic_data.groupby('size')

print(group_data['transaction'].mean())

print('-----------------------------------------------------------------------------------------------')

mean_dic = {
           'P':group_data['transaction'].mean().loc['P'],
           'M':group_data['transaction'].mean().loc['M'],
           'G':group_data['transaction'].mean().loc['G'],
           'GG':group_data['transaction'].mean().loc['GG']
            }


fill_data = pd.DataFrame(columns=fic_data.columns)

for key, group in group_data:
    seleccao = group[group['transaction'] > mean_dic[key]]
    fill_data = fill_data.append(seleccao)
    

print(fill_data)

### Combine

In [ ]:
group = fic_data.groupby('size',as_index=True)['sale'].mean()

print(type(group))

print(group)

In [ ]:
group = fic_data.groupby('size',as_index=True).agg({'sale':np.mean,'transaction':np.sum})

print(group)

In [ ]:
group = fic_data.groupby('size',as_index=False)['sale'].mean()

print(group)